vim/.vim/plugged
vim/.vim/swapped
*.swp
*.netrwhist
nvim/.config/nvim/plugged

mpd/.config/mpd/**
!/mpd/.config/mpd/mpd.conf
!/mpd/.config/mpd/playlists

*.zwc
.zcompdump
zsh/.config/antigen/antigen.zsh

.directory
