! ~/.Xresources
! vim:set foldmethod=expr foldexpr=getline(v\:lnum)=~'^!##'?'>1'\:'=':
! these settings are subject to taste and that the monitor is 15.6 inches diagonally

!## Xft settings / Font clarity settings
!Xft.antialias: true
!Xft.hintstyle: hintslight
Xft.rgba: rgb
#ifdef WIDTH 
    // HP Envy
    #if (WIDTH == 1920)
        Xft.dpi: 96
    // HP Pavilion
    #elif (WIDTH == 1366)
        Xft.dpi: 100
    // fallback
    #else
        Xft.dpi: 96
    #endif
#else
    #pragma message ( "Could not detect resolution for setting dpi" )
    Xft.dpi: 96
#endif
URxvt*buffered: false

!## URxvt scripts
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,fullscreen,resize-font,theme-switch

! requires urxvt-resize-font-git (AUR)
! readme at /usr/share/doc/urxvt-resize-font-git/README.md
URxvt.resize-font.smaller:  C-Down
URxvt.resize-font.bigger:   C-Up
URxvt.resize-font.reset:    C-equal
URxvt.resize-font.show:     C-question

! requires urxvt-perls
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! requires urxvt-fullscreen (AUR)
URxvt.keysym.F11: perl:fullscreen:switch

! requires urxvt-theme-switch-git (AUR coming soon) - consider forking, the original dev was kindof an idiot
URxvt.color-themes.themedir: /home/henry/.config/urxvt/themes
URxvt.color-themes.preprocessor: /usr/bin/cpp
URxvt.keysym.S-Up:   perl:color-themes:next
URxvt.keysym.S-Down: perl:color-themes:prev

!## URxvt (buildin settings)
! define meta key explicitly
URxvt.modifier: alt
Urxvt.letterSpace: -1

URxvt.iso14755: false
URxvt.iso14755_52: false

! disable scrollbar
URxvt.scrollBar: false 

! Attempting to fix PowerLine fonts
URxvt.utf8: true
URxvt*skipBuiltinGlyphs: true

!## Aci color scheme (disabled)
!! foreground/background
!*background:  #182330
!*foreground:  #B4E1FD
!*cursorColor: #B4E1FD
!! black
!*color0    : #363636
!*color8    : #424242
!! red
!*color1    : #FF0883
!*color9    : #FF1E8E
!! green
!*color2    : #83FF08
!*color10   : #8EFF33
!! yellow
!*color3    : #FF8308
!*color11   : #FF8E1E
!! blue
!*color4    : #0883FF
!*color12   : #1E8EFF
!! magenta
!*color5    : #8308FF
!*color13   : #8E1EFF
!! cyan
!*color6    : #08FF83
!*color14   : #1EFF8E
!! white
!*color7    : #B6B6B6
!*color15   : #C2C2C2

!## Solarized color scheme for the X Window System
!
! http://ethanschoonover.com/solarized


! Common
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900


! Dark
#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3


! Light
! #define S_base03        #fdf6e3
! #define S_base02        #eee8d5
! #define S_base01        #93a1a1
! #define S_base00        #839496
! #define S_base0         #657b83
! #define S_base1         #586e75
! #define S_base2         #073642
! #define S_base3         #002b36


! To only apply colors to your terminal, for example, prefix
! the color assignment statement with its name. Example:
!
! URxvt*background:            S_base03

*background:              S_base03
*foreground:              S_base0
*fading:                  10 
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1

*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

!## Font selection (URxvt)
#ifdef WIDTH
    // HP Envy
    #if (WIDTH == 1920)
        #define URXVT_PIXELSIZE 14
    // HP Pavilion
    #elif (WIDTH == 1366)
        #define URXVT_PIXELSIZE 11
    // fallback
    #else
        #define URXVT_PIXELSIZE 12
    #endif
#else
    #pragma message ( "Could not detect resolution for Font selection (URxvt)" )
#endif

URxvt.font:             xft:RobotoMono-Regular:style=Regular:pixelsize=URXVT_PIXELSIZE,\
                        xft:Unifont:style=Regular:pixelsize=URXVT_PIXELSIZE,\
                        xft:FontAwesome:pixelsize=URXVT_PIXELSIZE,\
                        xft:MaterialIcons:style=Regulate:pixelsize=URXVT_PIXELSIZE,\
                        xft:Wuncon Sigi:pixelsize=URXVT_PIXELSIZE,\
                        xft:FontAwesome:pixelsize=URXVT_PIXELSIZE
URxvt.boldFont:         xft:RobotoMono-Bold:style=Bold:pixelsize=URXVT_PIXELSIZE
URxvt.italicFont:       xft:RobotoMono-Italic:style=Italic:pixelsize=URXVT_PIXELSIZE
URxvt.boldItalicFont:   xft:RobotoMono-BoldItalic:style=Bold Italic:pixelsize=URXVT_PIXELSIZE

