! ~/.Xresources
! vim:set foldmethod=expr foldexpr=getline(v\:lnum)=~'^!##'?'>1'\:'=':
! these settings are subject to taste and that the monitor is 15.6 inches diagonally

!## Xft settings / Font clarity settings
!Xft.antialias: true
!Xft.hintstyle: hintslight
Xft.rgba: rgb
#ifdef WIDTH 
    // HP Envy
    #if (WIDTH == 1920)
        Xft.dpi: 96
    // HP Pavilion
    #elif (WIDTH == 1366)
        Xft.dpi: 100
    // fallback
    #else
        Xft.dpi: 96
    #endif
#else
    #pragma message ( "Could not detect resolution for setting dpi" )
    Xft.dpi: 96
#endif
URxvt*buffered: false

!## URxvt scrips
urxvt.perl-ext-common: default,resize-font
! requires urxvt-resize-font-git (AUR)
URxvt.resize-font.smaller:  C-Down
URxvt.resize-font.bigger:   C-Up

!## Attempting to fix PowerLine fonts
!URxvt.letterSpace: 1
URxvt.utf8: true
URxvt.skipBuiltinGlyphs: true

!## disable scrollbar
URxvt.scrollBar: false 


!## Aci color scheme 
! foreground/background
*background:  #182330
*foreground:  #B4E1FD
*cursorColor: #B4E1FD
! black
*color0    : #363636
*color8    : #424242
! red
*color1    : #FF0883
*color9    : #FF1E8E
! green
*color2    : #83FF08
*color10   : #8EFF33
! yellow
*color3    : #FF8308
*color11   : #FF8E1E
! blue
*color4    : #0883FF
*color12   : #1E8EFF
! magenta
*color5    : #8308FF
*color13   : #8E1EFF
! cyan
*color6    : #08FF83
*color14   : #1EFF8E
! white
*color7    : #B6B6B6
*color15   : #C2C2C2

!## Font selection (URxvt)
#ifdef WIDTH
    // HP Envy
    #if (WIDTH == 1920)
        #define URXVT_PIXELSIZE 14
    // HP Pavilion
    #elif (WIDTH == 1366)
        #define URXVT_PIXELSIZE 11
    // fallback
    #else
        #define URXVT_PIXELSIZE 12
    #endif
#else
    #pragma message ( "Could not detect resolution for Font selection (URxvt)" )
#endif

URxvt.font:             xft:RobotoMono-Regular:style=Regular:pixelsize=URXVT_PIXELSIZE
URxvt.boldFont:         xft:RobotoMono-Bold:style=Bold:pixelsize=URXVT_PIXELSIZE
URxvt.italicFont:       xft:RobotoMono-Italic:style=Italic:pixelsize=URXVT_PIXELSIZE
URxvt.boldItalicFont:   xft:RobotoMono-BoldItalic:style=Bold Italic:pixelsize=URXVT_PIXELSIZE

